.btn{
    display: flex;
    cursor: pointer;
    background-color: #172337;
    border:2px solid white;
    color: white;
    width:50px;
    height:70%;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
}

.card{
    display: flex;
    width:20vw;
    background-color: white;
    margin:auto; /*35px 15px 15px 15px;*/
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
}

.cardimg{
    margin:20px 30px 0px 30px;
    width: 150px;
    height: 68px;
}

 .cardimg:hover{
    background-color: black;
}

.flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemcards{
    display: flex;
    height: 230px;
    flex-direction: row;
    border:2px solid red;
    background-color: white;
    margin:20px 20px;
}

.lines{
    font-family: 'Merriweather', serif;
}

.mg1{
    padding:8px;
}

.textcenter{
    display: flex;
    align-content: center;
    justify-content: center;
}


